---
import languageSvg from "@material-symbols/svg-700/rounded/language.svg?raw";
import figmaSvg from "@/assets/icons/figma.svg?raw";
import GlowEffect from "../common/glow-effect.astro";
import { Icon } from "../common/icon";

interface Props {
  title: string;
  href?: string;
  figmaHref?: string;
  logoSrc: string;
  colorfulLogoSrc: string;
  demoSrc: string;
}

const { logoSrc, demoSrc, colorfulLogoSrc, title, href, figmaHref } =
  Astro.props;
---

<section class="group inline-block">
  <div class="relative">
    <GlowEffect radius="xll">
      <div
        class="mx-auto grid aspect-square w-72 place-content-center *:absolute *:inset-0 *:m-auto *:object-cover"
      >
        <img
          src={logoSrc}
          alt={`${title} Logo`}
          title={`${title} Logo`}
          title={title}
          loading="lazy"
          class="invert transition-opacity duration-200 group-hover:opacity-0 dark:invert-0"
        />
        <img
          src={demoSrc}
          alt={`${title} Demo`}
          title={`${title} Demo`}
          loading="lazy"
          class="size-full rounded-2xl bg-white/50 p-0.5 opacity-0 transition-opacity duration-200 group-hover:opacity-55 max-sm:opacity-55 dark:p-0 dark:group-hover:opacity-100 dark:group-hover:brightness-110 dark:group-hover:contrast-50"
        />
        <img
          src={colorfulLogoSrc}
          alt={`${title} Logo`}
          title={`${title} Logo`}
          loading="lazy"
          class="scale-110 opacity-0 transition-opacity duration-200 group-hover:opacity-100"
        />
      </div>
    </GlowEffect>
  </div>

  <div class="mt-3.5 flex items-center justify-between gap-2">
    <h3 class="text-base text-black dark:text-white">{title}</h3>
    <p
      class="group-hover group-hover:text flex items-center gap-3 text-brand-gray"
    >
      {
        href && (
          <a
            href={href}
            title={`View ${title} project`}
            target="_blank"
            rel="noopener noreferrer"
            class="inline-block rounded-lg bg-white p-1.5 transition duration-200 hover:text-slate-700 group-hover:scale-110 group-hover:shadow dark:bg-transparent dark:text-background-white dark:ring-1 dark:ring-current dark:hover:bg-white/20 dark:hover:text-white"
          >
            <span class="sr-only">View project</span>
            <Icon icon={languageSvg} className="size-5 fill-current" />
          </a>
        )
      }
      {
        figmaHref && (
          <a
            href={figmaHref}
            title={`View ${title} in Figma`}
            target="_blank"
            title="View in Figma"
            rel="noopener noreferrer"
            class="inline-block rounded-lg bg-white p-1.5 transition duration-200 hover:text-slate-700 group-hover:scale-110 group-hover:shadow dark:bg-transparent dark:text-background-white dark:ring-1 dark:ring-current dark:hover:bg-white/20 dark:hover:text-white"
          >
            <span class="sr-only">View in Figma</span>
            <Icon icon={figmaSvg} className="text-inherit size-5" />
          </a>
        )
      }
    </p>
  </div>
</section>
