---
// import arrowOutwardSvg from "@material-symbols/svg-400/rounded/arrow_outward.svg?raw";
import GlowEffect from "../common/glow-effect.astro";
// import Icon from "../common/icon.astro";

interface Props {
  title: string;
  href: string;
  logoSrc: string;
  colorfulLogoSrc: string;
  demoSrc: string;
}

const { logoSrc, demoSrc, colorfulLogoSrc, title } = Astro.props;
---

<!-- <a href={href} class="group inline-block"> -->
<div class="group inline-block">
  <section>
    <div class="relative">
      <GlowEffect radius="xll">
        <div
          class="mx-auto grid aspect-square w-72 place-content-center *:absolute *:inset-0 *:m-auto *:object-cover"
        >
          <img
            src={logoSrc}
            alt={`${title} Logo`}
            title={title}
            loading="lazy"
            class="invert transition-opacity duration-200 group-hover:opacity-0 dark:invert-0"
          />
          <img
            src={demoSrc}
            alt={`${title} Demo`}
            loading="lazy"
            class="size-full rounded-2xl bg-white p-0.5 opacity-0 transition-opacity duration-200 group-hover:opacity-55 dark:p-0 dark:group-hover:opacity-65"
          />
          <img
            src={colorfulLogoSrc}
            alt={`${title} Logo`}
            loading="lazy"
            class="scale-[80%] opacity-0 transition-opacity duration-200 group-hover:opacity-100 dark:brightness-125 dark:contrast-[115%]"
          />
        </div>
      </GlowEffect>
    </div>

    <div class="mt-3.5 flex items-center justify-between gap-2">
      <h3 class="text-base text-black dark:text-white">{title}</h3>
      <!-- <p
        class="group flex items-center gap-1 font-jetbrains-mono text-brand-gray transition-colors duration-200 group-hover:text-black dark:group-hover:text-white"
      >
        <span>View project</span>
        <Icon
          icon={arrowOutwardSvg}
          class="relative top-px size-5 fill-current"
        />
      </p> -->
    </div>
  </section>
</div>
