---
import type { Solution } from "@/constants/solutions";
import GlowEffect from "../common/glow-effect.astro";

interface Props extends Solution {}

// Shadow opacity -- Mobile: 75%, Desktop: 30%
// Shadow opacity on hover -- Mobile: 75%, Desktop: 75%
const COLORS: Record<Solution["color"], string> = {
  red: "bg-brand-red shadow-brand-red/75 lg:shadow-brand-red/30 group-hover:shadow-brand-red/75",
  blue: "bg-brand-blue shadow-brand-blue/75 lg:shadow-brand-blue/30 group-hover:shadow-brand-blue/75",
  green:
    "bg-brand-green shadow-brand-green/75 lg:shadow-brand-green/30 group-hover:shadow-brand-green/75",
  yellow:
    "bg-brand-yellow shadow-brand-yellow/75 lg:shadow-brand-yellow/30 group-hover:shadow-brand-yellow/75",
};

const { title, description, icon, color } = Astro.props;
---

<GlowEffect>
  <article class="group relative flex rounded-xl bg-white/5">
    <div
      class={`flex shrink-0 justify-center relative items-center transition-shadow duration-200 rounded-s-xl shadow-solution-card px-3.5 ease-in-out ${COLORS[color]}`}
    >
      <img src={icon.src} alt={icon.alt} class="size-5 shrink-0" />
    </div>

    <div class="grow space-y-3 p-5">
      <h3>{title}</h3>
      <div
        class="h-px w-1/2 max-w-64 bg-[linear-gradient(to_right,_#0000,_#7A7A7A,_#0000)] lg:hidden"
      >
      </div>
      <p class="text-brand-gray">{description}</p>
    </div>

    <div
      class={`absolute bottom-0 left-20 top-0 my-auto h-2/3 transition-shadow duration-200 shadow-inner-solution-card opacity-0 group-hover:opacity-100 ${COLORS[color]}`}
    >
    </div>
  </article>
</GlowEffect>
