---
import type { TeamMember } from "@/constants/team-members";
import linkedInLogo from "@/assets/icons/linkedin-logo.svg";
import xLogo from "@/assets/icons/x-logo.svg";
import GlowEffect from "../common/glow-effect.astro";
import CardTranslateEffect from "../common/card-translate-effect.astro";

interface Props {
  teamMember: TeamMember;
}

const { teamMember } = Astro.props;
---

<CardTranslateEffect img={teamMember.image} translate={3} rotate={4}>
  <GlowEffect>
    <article class="p-5">
      <div class="mb-24 space-y-1.5">
        <h3>{teamMember.name}</h3>
        <p class="text-sm text-brand-gray">{teamMember.jobTitle}</p>
      </div>

      <ul class="flex gap-2">
        <li>
          <a href={teamMember.socials.linkedin} target="_blank">
            <img
              src={linkedInLogo.src}
              alt="LinkedIn Logo"
              class="size-6 rotate-[-12.11deg]"
              loading="lazy"
            />
          </a>
        </li>
        <li>
          <a href={teamMember.socials.twitter} target="_blank">
            <img
              src={xLogo.src}
              alt="Twitter Logo"
              class="size-6 rotate-[-12.11deg]"
              loading="lazy"
            />
          </a>
        </li>
      </ul>
    </article>
  </GlowEffect>
</CardTranslateEffect>
