---
import type { TeamMember } from "@/constants/team-members";
import linkedInLogo from "@/assets/icons/linkedin-logo.svg";
import xLogo from "@/assets/icons/x-logo.svg";

interface Props {
  teamMember: TeamMember;
}

const { teamMember } = Astro.props;
---

<div class="group relative">
  <img
    src={teamMember.image.src}
    alt={teamMember.image.alt}
    class="absolute left-0 top-0 -z-10 h-full w-full rounded-3xl object-cover opacity-0 transition duration-200 group-hover:translate-x-1.5 group-hover:-rotate-6 group-hover:opacity-100"
  />
  <article
    class="rounded-3xl border border-solid border-brand-white/15 bg-brand-background p-5 transition-transform duration-200 group-hover:translate-y-28 group-hover:rotate-12 group-hover:bg-brand-background/75"
  >
    <div class="mb-24 space-y-1.5">
      <h3>{teamMember.name}</h3>
      <p class="text-sm text-brand-gray">{teamMember.jobTitle}</p>
    </div>

    <ul class="flex gap-2">
      <li>
        <a href={teamMember.socials.linkedin} target="_blank">
          <img
            src={linkedInLogo.src}
            alt="LinkedIn Logo"
            class="size-6 rotate-[-12.11deg]"
          />
        </a>
      </li>
      <li>
        <a href={teamMember.socials.twitter} target="_blank">
          <img
            src={xLogo.src}
            alt="Twitter Logo"
            class="size-6 rotate-[-12.11deg]"
          />
        </a>
      </li>
    </ul>
  </article>
</div>
