---
import GradientSpan from "@/components/common/gradient-span.astro";
import SectionHeader from "@/components/common/section-header.astro";
import { SECTIONS } from "@/constants/sections";
import Section from "@/components/common/section.astro";
import mightyShieldDemo from "@/assets/images/demo/mighty-shield-demo.webp";
import torqWebDemo from "@/assets/images/demo/torqweb-demo.webp";
import torqMobileDemo from "@/assets/images/demo/torqmobile-demo.webp";
import rockUltrasoundDemo from "@/assets/images/demo/rock-ultrasound-demo.webp";

import PhotoPortrait from "../common/photo-portrait.astro";
import BookingButton from "../buttons/booking-button.astro";
import SquarePatternBackground from "../backgrounds/square-pattern-background.astro";
import LinearRadialFadeBackground from "../backgrounds/linear-radial-fade-background.astro";
---

<div class="relative">
  <SquarePatternBackground>
    <div class="*:dark:invert">
      <LinearRadialFadeBackground />
    </div>
  </SquarePatternBackground>

  <Section id={SECTIONS.CONTACT.id}>
    <div class="relative flex flex-col gap-10 py-60">
      <SectionHeader>
        <span slot="title">
          <GradientSpan>Have a project in mind?</GradientSpan>
        </span>
        <span slot="subtitle-center" class="text-black dark:text-white">
          Connect with us today and let's make it happen!
        </span>
      </SectionHeader>

      <span class="self-center">
        <BookingButton>Claim Your Free Call Now</BookingButton>
      </span>

      <span
        class="absolute left-[5%] top-[12%] opacity-0 sm:left-[15%] sm:top-[8%]"
        data-animate
      >
        <PhotoPortrait
          backgroundColor="light-blue"
          src={mightyShieldDemo.src}
          alt="Mighty Shield Insurance Demo"
        />
      </span>

      <span
        class="absolute right-[7%] top-[6%] opacity-0 sm:right-[18%] sm:top-[4%]"
        data-animate
      >
        <PhotoPortrait
          backgroundColor="transparent"
          src={torqMobileDemo.src}
          alt="TORQ Mobile App Demo"
        />
      </span>

      <span
        class="absolute bottom-[8%] left-[3%] opacity-0 sm:bottom-[15%] sm:left-[18%]"
        data-animate
      >
        <PhotoPortrait
          backgroundColor="contrast"
          src={rockUltrasoundDemo.src}
          alt="Rock Ultrasound Demo"
        />
      </span>

      <span
        class="absolute bottom-[16%] right-[5%] opacity-0 sm:bottom-[22%] sm:right-[20%]"
        data-animate
      >
        <PhotoPortrait
          backgroundColor="transparent"
          src={torqWebDemo.src}
          alt="TORQ Web Demo"
        />
      </span>
    </div>
  </Section>
</div>

<script>
  import tw from "@/utils/tw";

  const portraits = document.querySelectorAll("[data-animate]");

  const animationDelayClasses = [
    "delay-100",
    "delay-400",
    "delay-300",
    "delay-200",
  ];

  const animationClasses: string[] =
    tw`duration-1500 ease-out animate-in fade-in-0 slide-in-from-bottom-16`.split(
      " ",
    );

  const intersectionObserver = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry, index) => {
        if (entry.isIntersecting) {
          entry.target.classList.remove("opacity-0");
          entry.target.classList.add(animationDelayClasses[index]);
          entry.target.classList.add(...animationClasses);
        }
      });
    },
    {
      threshold: 1,
    },
  );

  for (const portrait of portraits) {
    intersectionObserver.observe(portrait!);
  }
</script>
