---
import GradientSpan from "@/components/common/gradient-span.astro";
import SectionHeader from "@/components/common/section-header.astro";
import { SHOWCASE_PROJECTS } from "@/constants/showcase-projects";
import { SECTIONS } from "@/constants/sections";
import Section from "@/components/common/section.astro";
import ShowcaseCard from "../cards/showcase-card.astro";
---

<Section id={SECTIONS.PROJECTS.id}>
  <SectionHeader subtitle="Real-World Applications of Our Expertise">
    <span slot="title">
      Showcasing <GradientSpan color="green">excellence</GradientSpan> in every endeavor.
    </span>
  </SectionHeader>

  <ul class="grid auto-rows-fr grid-cols-list-lg gap-x-10 gap-y-20">
    {
      SHOWCASE_PROJECTS.map((showcase) => (
        <ShowcaseCard
          title={showcase.title}
          logoSrc={showcase.logoSrc}
          demoSrc={showcase.demoSrc}
          colorfulLogoSrc={showcase.colorfulLogoSrc}
          href={showcase.href}
          figmaHref={showcase.figmaHref}
        />
      ))
    }
  </ul>
</Section>
