---
import arrowRightAltSvg from "@material-symbols/svg-700/rounded/arrow_right_alt.svg?raw";
import { SECTIONS } from "@/constants/sections";
import { TECHNOLOGIES } from "@/constants/technologies";
import { Link } from "../common/link";
import GradientSpan from "@/components/common/gradient-span.astro";
import Section from "@/components/common/section.astro";
import Icon from "../common/icon.astro";
---

<div class="relative py-16">
  <div
    class="bg-noise-effect absolute inset-0 -z-10 opacity-20 brightness-150 dark:invisible"
  >
  </div>

  <div
    class="bg-noise-effect invisible absolute inset-0 -z-10 overflow-hidden bg-black brightness-50 dark:visible"
  >
    <div
      class="absolute -bottom-3/4 left-[20%] -z-20 size-80 bg-brand-yellow/75 blur-[150px] portrait:-left-80 portrait:bottom-1/4"
    >
    </div>
    <div
      class="absolute -top-1/3 left-[55%] -z-20 size-80 bg-brand-blue/75 blur-[150px] portrait:-top-1/4"
    >
    </div>
    <div
      class="por absolute -bottom-1/2 -right-40 z-20 size-80 bg-brand-red/75 blur-[175px] portrait:-bottom-1/3"
    >
    </div>
  </div>

  <Section id={SECTIONS.OUR_TEAM.id}>
    <div
      class="flex flex-col items-center gap-20 md:justify-between lg:gap-40 xl:flex-row xl:gap-10"
    >
      <div class="space-y-14">
        <h2
          class="w-[15ch] px-2.5 text-center text-brand-gray lg:px-0 xl:text-start"
        >
          Dedicated to <GradientSpan color="purple">the best.</GradientSpan>
        </h2>
        <div class="hidden xl:block">
          <Link
            href={SECTIONS.CONTACT.href}
            className="inline-flex items-center gap-2"
          >
            Book an Appointment
            <Icon icon={arrowRightAltSvg} class="size-5 fill-current" />
          </Link>
        </div>
      </div>

      <ul
        class="grid w-full grow auto-rows-fr grid-cols-list-xs place-items-center gap-x-20 gap-y-14 lg:gap-y-8 xl:place-items-end 2xl:gap-x-28 2xl:gap-y-16"
      >
        {
          TECHNOLOGIES.map((technology) => (
            <li class="rounded-3xl">
              <img
                src={technology.icon.src}
                alt={technology.icon.alt}
                class="w-[20vw] max-w-20 object-cover invert dark:invert-0"
                loading="lazy"
              />
            </li>
          ))
        }
      </ul>

      <div class="block xl:hidden">
        <Link href={SECTIONS.CONTACT.href}>
          Book an Appointment
          <Icon icon={arrowRightAltSvg} class="size-5 fill-current" />
        </Link>
      </div>
    </div>
  </Section>
</div>
