---
import arrowRightAltSvg from "@material-symbols/svg-700/rounded/arrow_right_alt.svg?raw";
import { SECTIONS } from "@/constants/sections";
import { TECHNOLOGIES } from "@/constants/technologies";
import { Link } from "../common/link";
import GradientSpan from "@/components/common/gradient-span.astro";
import Section from "@/components/common/section.astro";
import { Icon } from "../common/icon";
import TricolorBanner from "../backgrounds/tricolor-banner.astro";
---

<TricolorBanner>
  <Section id={SECTIONS.OUR_TEAM.id}>
    <div
      class="flex flex-col items-center gap-20 py-16 md:justify-between lg:flex-row xl:gap-10"
    >
      <div class="space-y-14">
        <h2 class="text-center text-brand-gray sm:max-w-[15ch] lg:text-start">
          Dedicated to <GradientSpan color="purple">the best.</GradientSpan>
        </h2>
        <div class="hidden lg:block">
          <Link
            href={SECTIONS.CONTACT.href}
            className="inline-flex items-center gap-2"
          >
            Book an Appointment
            <Icon icon={arrowRightAltSvg} className="size-5 fill-current" />
          </Link>
        </div>
      </div>

      <ul
        class="grid w-full grow auto-rows-fr grid-cols-list-xs place-items-center gap-x-20 gap-y-14 lg:place-items-end lg:gap-y-8 xl:w-min 2xl:gap-x-28 2xl:gap-y-16"
      >
        {
          TECHNOLOGIES.map((technology) => (
            <li class="rounded-3xl">
              <img
                src={technology.icon.src}
                alt={technology.icon.alt}
                class="w-[20vw] max-w-20 object-cover invert dark:invert-0"
                loading="lazy"
              />
            </li>
          ))
        }
      </ul>

      <div class="block lg:hidden">
        <Link
          href={SECTIONS.CONTACT.href}
          size="lg"
          className="inline-flex items-center gap-2"
        >
          Book an Appointment
          <Icon icon={arrowRightAltSvg} className="size-6 fill-current" />
        </Link>
      </div>
    </div>
  </Section>
</TricolorBanner>
