---
import GradientSpan from "@/components/common/gradient-span.astro";
import { SECTIONS } from "@/constants/sections";
import Section from "@/components/common/section.astro";
import { TECHNOLOGIES } from "@/constants/technologies";
import Button from "../common/button.astro";
---

<Section id={SECTIONS.OUR_TEAM.id}>
  <div
    class="flex flex-col items-center gap-20 md:justify-between lg:gap-40 xl:flex-row xl:gap-10"
  >
    <div class="space-y-14">
      <h2 class="w-[15ch] text-center xl:text-start">
        Dedicated to <GradientSpan color="purple">the best.</GradientSpan>
      </h2>
      <div class="hidden xl:block">
        <Button text="Book an Appointment" href={SECTIONS.CONTACT.href} />
      </div>
    </div>

    <ul
      class="grid-cols-list-xs grid w-full grow auto-rows-fr place-items-center gap-x-20 gap-y-8 xl:place-items-end 2xl:gap-x-32 2xl:gap-y-20"
    >
      {
        TECHNOLOGIES.map((technology) => (
          <li class="rounded-3xl">
            <img
              src={technology.icon.src}
              alt={technology.icon.alt}
              class="w-24 object-cover"
            />
          </li>
        ))
      }
    </ul>

    <div class="block xl:hidden">
      <Button text="Book an Appointment" href={SECTIONS.CONTACT.href} />
    </div>
  </div>
</Section>
