---
interface Props {
  text: string;
  href?: string;
  iconSrc?: string;
  type?: "button" | "submit" | "reset";
}

const { text, href, iconSrc, type = "button" } = Astro.props;

const isLink = Boolean(href);

const style =
  "border w-max border-solid border-brand-white/50 flex items-center rounded-full px-7 py-3.5 text-sm bg-transparent text-brand-white";
---

{
  isLink ? (
    <a href={href} class={style}>
      {text}
    </a>
  ) : (
    <button class={style} type={type}>
      <span class="leading-none">{text}</span>
      {iconSrc && (
        <img
          src={iconSrc}
          alt="Icon"
          class="size-4 ml-2.5 fill-current rotate-[-35.555deg]"
        />
      )}
    </button>
  )
}
