---
import tw from "@/utils/tw";
import Icon from "./icon.astro";

type ButtonWidth = "min" | "max" | "full" | "auto";

interface Props {
  width?: ButtonWidth;
  text: string;
  href?: string;
  type?: "button" | "submit" | "reset";
  icon?: string;
}

const { text, href, icon, type = "button", width = "max" } = Astro.props;

const isLink = Boolean(href);

const BUTTON_WIDTHS: Record<ButtonWidth, string> = {
  min: "w-min",
  max: "w-max",
  full: "w-full",
  auto: "w-auto",
};

const buttonStyles = tw`${BUTTON_WIDTHS[width]} flex items-center justify-center rounded-full bg-transparent px-6 py-3 text-center text-sm text-brand-white ring-1 ring-brand-white/50 transition duration-200 hover:bg-brand-white hover:text-brand-background hover:ring-brand-white`;
---

{
  isLink ? (
    <a href={href} class={buttonStyles}>
      {text}
    </a>
  ) : (
    <button class={buttonStyles} type={type}>
      <span class="leading-none">{text}</span>
      {icon && <Icon icon={icon} class="ml-2.5 size-6 fill-current" />}
    </button>
  )
}
